<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <!-- Preconnect to external resources -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <nav class="nav-content">
        {% include 'navbar.html' %}
        <a href="/" aria-label="Homepage">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" alt="Logo" />
          </div>
        </a>
      </nav>
    </header>

    <main>
      <section class="profile text-white">
        <h1 class="text-4xl font-bold">{{ education }}</h1>
        <hr />
        <div id="education" class="profile-picture">
          {% for edu in education_entries %}
          <article>
            <h2>{{ edu.degree }}</h2>
            <h3>{{ edu.institution }}</h3>
            <h5>{{ edu.graduation_date }}</h5>
            <p>{{ edu.details }}</p>
          </article>
          {% endfor %}
        </div>
      </section>
    </main>
  </body>
</html>
