<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/logo.jpg" />
      </div>
      <h1>{{ title }}</h1>
    </div>
    <div class="about">
      <h1>{{about}}</h1>
      <div id="about-yourself" class="profile-picture">
        From the moment coding was first introduced to me in elementary school,
        I knew I had found my passion. I was mesmerized watching a programmer
        demonstrate how lines of code could control sprites to simulate an Angry
        Birds game. In that moment, my desire to master this magical power was
        ignited. I jumped at every opportunity to build on my newfound passion.
        In high school, I eagerly enrolled in programming electives where my
        skills progressed by leaps and bounds. I relished challenges like using
        code to direct robots through mazes and compete in races. My curiosity
        led me to experiment on my own time as well. I created web apps, dove
        deep into data structures and HTML/CSS through an AP course, and even
        managed to take the same class twice undetected because I couldn't get
        enough. Driven by curiosity, I branched into mobile game development and
        published my first 2D multiplayer shooter at just 17 years old. Though
        From an early introduction to coding in elementary school, I discovered
        my passion for programming. Watching a programmer control sprites in an
        Angry Birds simulation sparked my desire to master coding. Throughout
        high school, I eagerly took programming electives, tackled challenges
        like directing robots, and experimented with web apps, data structures,
        and HTML/CSS. My curiosity led me to mobile game development, and at 17,
        I published my first 2D multiplayer shooter. Despite initial rejection
        from the Play Store due to my age, I resubmitted on my 18th birthday,
        successfully launching my app. I expanded my skills to backend
        technologies, building comprehensive web applications. Now, as a CS
        Major, I continue to pursue my passion with the same enthusiasm, driven
        by the milestones I've achieved and the lessons I've learned. My journey
        has just begun, and I am excited to grow further into the software
        engineer I've always aspired to be.
      </div>
    </div>
  </body>
</html>
