<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/logo.jpg" />
      </div>
      <h1>{{ title }}</h1>
    </div>
    <hr />
    <div class="about section">
      <h1>{{about.name}}</h1>
      <div id="about-yourself" class="profile-picture">
        {{about.info}}


      </div>
    </div>
    <hr />
    <div class="work section">
      <h1>{{work}}</h1>
      <div id="work-experience" class="profile-picture">
        {% for experience in work_experiences %}
        <h2>{{ experience.title }}</h2>
        <h3>{{ experience.company }}</h3>
        <h5>{{ experience.start_date }} - {{ experience.end_date }}</h5>
        <ul>
          {% for responsibility in experience.responsibilities %}
          <li>{{ responsibility }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>
    <hr />
    <div class="hobby section">
      <h1>{{hobby}}</h1>
      <div id="hobbies" class="profile-picture">
        {% for hobby in hobbies %}
        <h2>{{ hobby.name }}</h2>
        <img src="{{ hobby.image }}" />
        <p>{{ hobby.description }}</p>
        {% endfor %}
      </div>
    </div>
    <hr/>
    <div class="education">
      <h1>{{education}}</h1>
      <div id="education" class="profile-picture">
        {% for edu in education_entries %}
        <h2>{{ edu.degree }}</h2>
        <h3>{{ edu.institution }}</h3>
        <h5>{{ edu.graduation_date }}</h5>
        <p>{{ edu.details }}</p>
        {% endfor %}

    </div>
    <hr />
    <div class="places section ">
      <h1>{{places}}</h1>
      <div id="places" class="profile-picture">
        <h2>United States</h2>
        <div class=" img">
        <img class = "map" src="./static/img/Map.png" />
      </div>
        <p>
          I was born in the United States and have lived here my whole life. I
          have visited 3 states and 6 cities in the United States.
        </p>

      </div>
    </div>
  </body>
</html>
