<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      {% include 'navbar.html' %}
      <!-- Logo with link to home -->
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <!-- Profile Section -->
    <img
    src="./static/img/logo.jpg"
    width="400"
    height="400"
    alt="Jane Doe"
    class="mx-auto aspect-square overflow-hidden rounded-full object-cover"
  />
    <section class="w-full py-12 md:py-24 lg:py-32 text-white">
      <div class="container px-4 md:px-6">
        <div class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
          <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-2">
              <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">Lovinson Dieujuste</h1>
              <p class="max-w-[600px] text-muted-foreground md:text-xl">Site Reliability Engineer</p>
            </div>
            <p class="max-w-[600px] text-muted-foreground md:text-xl">
              A passionate software engineer driven by an innate curiosity and
            desire to master programming. From an early introduction to coding
            in elementary school, each new opportunity unlocked wonder and
            ignited determination that launched a lifelong voyage of discovery.
            </p>
          </div>

        </div>
      </div>
    </section>
</html>
