<div class="bg-gray-800 p-4 margin-top[-30px] left-0 right-0">
  <!-- Main Navigation Links -->
  <nav class="container mx-auto">
    <ul class="flex space-x-4 text-white">
      <li>
        <a href="{{ url_for('index') }}" class="hover:text-gray-400">Home</a>
      </li>
      <li>
        <a href="{{ url_for('work') }}" class="hover:text-gray-400"
          >Work Experience</a
        >
      </li>
      <li>
        <a href="{{ url_for('about') }}" class="hover:text-gray-400">About</a>
      </li>
      <li>
        <a href="{{ url_for('hobby') }}" class="hover:text-gray-400">Hobbies</a>
      </li>
      <li>
        <a href="{{ url_for('education') }}" class="hover:text-gray-400"
          >Education</a
        >
      </li>
      <li>
        <a href="{{ url_for('place') }}" class="hover:text-gray-400">Place</a>
      </li>
    </ul>
  </nav>
</div>
